@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

        @(await Html
    .SimpleGrid(Model)
    .AddColumnsFromModel()
    .RenderAsync())

    </div>
    <div class="col-md-6">

        <h4>Model</h4>
        <pre><code>public class Movie
{
    [Display(Order = 2)]
    public string Name { get; set; }

    [Display(Name = "Movie Director", Order = 1)]
    public string Director { get; set; }

    [DisplayName("Movie Genre")]
    public string Genre { get; set; }

    [Display(AutoGenerateField = true)]
    public int? Released { get; set; }

    [Display(AutoGenerateField = false)]
    public ICollection&lt;CastMember&gt; Cast { get; set; }
}

public class CastMember
{
    public string Name { get; set; }

    public string Character { get; set; }

    public override string ToString() 
        => $"{Name} as {Character}";
}</code></pre>

        <br />

        <h4>View</h4>
<pre><code>@@model IQueryable&lt;Movie&gt;

@@(await Html
    .SimpleGrid(Model)
    .AddColumnsFromModel()
    .RenderAsync())</code></pre>

        <br />

        <h4>Controller</h4>
<pre><code>[HttpGet]
public IActionResult BasicUsage()
{
    return View(SampleData.Movies.AsQueryable());
}</code></pre>


        @{
            string table = Html
            .SimpleGrid(Model.Take(3))
            .AddColumnsFromModel()
            .RenderToString();
        }

        <br />

        <h4>HTML Rendered</h4>

<pre><code>@table</code></pre>

    </div>
</div>
