@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(3))

    .AddColumn(col => col
        .For(movie => movie.Name))

    .AddColumn(col => col
        .For(movie => movie.Genre)
        .DisplayAs(movie => movie.Genre.ToUpper()))

    .AddColumn(col => col
        .Header("Director")
        .DisplayAs(movie => $"Directed by {movie.Director}"))

    .AddColumn(col => col
        .Display("static value"))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(3))

    .AddColumn(col => col
        .For(movie => movie.Name))

    .AddColumn(col => col
        .For(movie => movie.Genre)
        .DisplayAs(movie => movie.Genre.ToUpper()))

    .AddColumn(col => col
        .Header("Director")
        .DisplayAs(movie => $"Directed by {movie.Director}"))

    .AddColumn(col => col
        .Display("static value"))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

