@model IQueryable<SocketheadRazorFeature>
@{
    ViewData["Title"] = "Simple Grid";
}

<div class="row">
    <div class="col-md-12">

        <p>SimpleGrid is an ASP.Net Core Grid Control.  <br />Here are some samples to demonstrate how to use it.</p>

        @(await Html
                .SimpleGrid(Model)
                .AddColumn(col => col
                    .For(feature => feature.Name)
                    //.LinkTo(feature => feature.Url ?? feature.Name.Replace(" ", ""))
                    .LinkTo(feature => feature.BuildUrl())
                    .Css(css => css.Item.AddStyle("width: 150px;")))
                .AddColumn(col => col.For(feature => feature.Description))
                .AddCssClass("table-striped table-sm table-bordered")
                .Sortable()
                .RenderAsync())

        <ul>
            <li><a href='Sample1'>Sample1</a></li>
            <li><a href='Sample2'>Sample2</a></li>
            <li><a href='Playground'>Playground</a></li>
        </ul>

    </div>
</div>
