@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

        @(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .Css(css => css.Item.AddStyle("max-width: 330px;"))
        .TwoColumnGrid(model => model))

    .AddColumn(column => column
        .For(movie => movie.Cast)
        .DisplayAsList(movie => movie.Cast))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a TwoColumnGrid</h4>
        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .Css(css => css.Item.AddStyle("max-width: 330px;"))
        .TwoColumnGrid(model => model))

    .AddColumn(column => column
        .For(movie => movie.Cast)
        .DisplayAsList(movie => movie.Cast))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

<hr />

<div class="row">

    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .TwoColumnGrid((movie, builder) =>
        {
            builder.AddRow("Name", movie.Name);

            builder.AddRowsForModel(movie, builder => builder
                .AddRowFor(movie => movie.Name)
                .AddRowFor(movie => movie.Director)
                .AddRowFor(movie => movie.Genre)
                .AddRowFor(movie => movie.Released));
        }))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a TwoColumnGrid (again)</h4>

        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .TwoColumnGrid((movie, builder) =>
        {
            builder.AddRow("Name", movie.Name);

            builder.AddRowsForModel(movie, builder => builder
                .AddRowFor(movie => movie.Name)
                .AddRowFor(movie => movie.Director)
                .AddRowFor(movie => movie.Genre)
                .AddRowFor(movie => movie.Released));
        }))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

<hr />

<div class="row">

    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(2))
    .AddColumnFor(movie => movie.Name)
    .AddColumnFor(movie => movie.Released)
    .AddColumn(col => col
        .For(movie => movie.Cast)
        .SimpleGrid(
            movie => movie.Cast?.AsQueryable(), 
            grid => grid.AddColumnsForModel()))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a SimpleGrid</h4>

        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(2))
    .AddColumnFor(movie => movie.Name)
    .AddColumnFor(movie => movie.Released)
    .AddColumn(col => col
        .For(movie => movie.Cast)
        .SimpleGrid(
            movie => movie.Cast?.AsQueryable(), 
            grid => grid.AddColumnsForModel()))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

