@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

        @(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .Css(css => css.Item.AddStyle("max-width: 330px;"))
        .TwoColumnGrid(model => model))

    .AddColumn(column => column
        .For(movie => movie.Cast)
        .DisplayAsList(movie => movie.Cast))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a TwoColumnGrid</h4>
        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .Css(css => css.Item.AddStyle("max-width: 330px;"))
        .TwoColumnGrid(model => model))

    .AddColumn(column => column
        .For(movie => movie.Cast)
        .DisplayAsList(movie => movie.Cast))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

<hr />

<div class="row">

    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .TwoColumnGrid((model, builder) =>
        {
            builder.Add("Name", model.Name);

            builder.Add(model, builder => builder
                .Add(model => model.Name)
                .Add(model => model.Director)
                .Add(model => model.Genre)
                .Add(model => model.Released));
        }))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a TwoColumnGrid (again)</h4>

        <pre><code>@@(await Html

    .SimpleGrid(Model.Take(2))

    .AddColumn(column => column
        .Header("Movie")
        .TwoColumnGrid((model, builder) =>
        {
            builder.Add("Name", model.Name);

            builder.Add(model, builder => builder
                .Add(model => model.Name)
                .Add(model => model.Director)
                .Add(model => model.Genre)
                .Add(model => model.Released));
        }))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

<hr />

<div class="row">

    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(2))
    .AddColumnFor(movie => movie.Name)
    .AddColumnFor(movie => movie.Released)
    .AddColumn(col => col
        .For(movie => movie.Cast)
        .SimpleGrid(
            model => model.Cast?.AsQueryable(), 
            grid => grid.AddColumnsFromModel()))

    .RenderAsync())

    </div>

    <div class="col-md-6">

        <h4>Embedding a SimpleGrid</h4>

        <pre><code>@@(await Html
    .SimpleGrid(Model.Take(2))
    .AddColumnFor(movie => movie.Name)
    .AddColumnFor(movie => movie.Released)
    .AddColumn(col => col
        .For(movie => movie.Cast)
        .SimpleGrid(
            model => model.Cast?.AsQueryable(), 
            grid => grid.AddColumnsFromModel()))

    .RenderAsync())</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

