@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model)
    .AddColumnsFromModel()
    .Footer(
        $"<tr><td colspan='3'>Average of all Released Years</td>" + 
        $"<td>{(int)Model.Average(movie => movie.Released)}</td></tr>")
    .RenderAsync())

    </div>

    <div class="col-md-6">
        <pre><code>@@(await Html
    .SimpleGrid(Model)
    .AddColumnsFromModel()
    .Footer(
        $"&lt;tr>&lt;td colspan='3'>Average of all Released Years&lt;/td>" + 
        $"&lt;td>{(int)Model.Average(movie => movie.Released)}&lt;/td>&lt;/tr>")
    .RenderAsync())</code></pre>

        <p></p>

    </div>

</div>
