@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model)
    .AddColumnsForModel()
    .AddPager(options =>
    {
        options.RowsPerPage = 3;
        options.DisplayPagerTop = true;
        options.DisplayPagerBottom = true;
        options.DisplayTotal = true;
        options.RowsPerPageOptions = 
            new[] { 3, 5, 10, 50, 1000 };
    })
    .RenderAsync())

    </div>

    <div class="col-md-6">

        <pre><code>@@(await Html
    .SimpleGrid(Model)
    .AddColumnsForModel()
    .AddPager(options =>
    {
        options.RowsPerPage = 3;
        options.DisplayPagerTop = true;
        options.DisplayPagerBottom = true;
        options.DisplayTotal = true;
        options.RowsPerPageOptions = 
            new[] { 3, 5, 10, 50, 1000 };
    })
    .RenderAsync())
</code></pre>

        <br />
        <p>
        </p>

    </div>
</div>

