@model IQueryable<SampleModel>

@{ int i = 10; }

@(await Html
    .SimpleGrid(Model)

    .AddColumn(column => column
        .Header("First Name")
        .DisplayHtmlContent(model => Html.TextBoxFor(modelQueryable => model.First, null, new { id = $"First_{i++}", @class = "form-control" })))

    .AddColumn(column => column.For(model => model.First).Sortable(false))

    .AddColumn(column => column.For(model => model.RandomDate))
    .AddColumn(column => column.For(model => model.RandomDate).ClientTime(model => model.RandomDate).Encoded(true))
    .AddColumn(column => column.For(model => model.RandomDate).ClientTime(model => model.RandomDate))

    .DefaultSortBy(model => model.RandomDate)

    .RenderAsync()
)

<div class="language-csharp">

<pre><code></code></pre>

</div>