@model IQueryable<Movie>

<div class="row">
    <div class="col-md-6">

@(await Html
    .SimpleGrid(Model.Take(3))
    .AddColumnsForModel()
    .RenderAsync())

    </div>

    <div class="col-md-6">
        <pre><code></code></pre>

        <p></p>

    </div>

</div>
