@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Sockethead.Razor.Forms.ISimpleForm

@{
    string actionName = Model.FormOptions.ActionName ?? ViewContext.RouteData.Values["action"].ToString();
    string controllerName = Model.FormOptions.ControllerName ?? ViewContext.RouteData.Values["controller"].ToString();
}

<form asp-action="@actionName" asp-controller="@controllerName" enctype="multipart/form-data" method="@Model.FormOptions.FormMethod">
    <div class=@($"{Model.FormOptions.CssClass}")>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @(Model.RenderFormRows())
    </div>
</form>