@model Dictionary<string, object>
<div>
    <table class="table table-sm table-striped" style="table-layout:fixed;">
        @foreach (var kvp in Model)
        {
            <tr>
                <td style="width: 140px;"><div class="text-right"><strong>@kvp.Key</strong></div></td>
                <td class="wrapword"> @kvp.Value?.ToString()</td>
            </tr>
        }
    </table>

</div>
