@using Sockethead.Razor.Grid;
@using Sockethead.Web.Areas.Samples.Controllers;
@using Sockethead.Razor.Pager;
@model SimpleGridViewModel<Movie>

<partial name="_Pager" model="new PagerModel()" />

<table class="table table-striped table-sm">
    <tr>
        <th>Name</th>
        <th>Directory</th>
        <th>Genre</th>
    </tr>

    @foreach (var movie in Model.Source)
    {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.Director</td>
            <td>@movie.Genre</td>
        </tr>
    }
</table>

<hr />

@(Html
    .SimpleGrid<Movie>(Model)
    //.AddColumnFor(model => model.Name)
    .AddColumn(column => column
        .For(model => model.Name)
        .Sortable()
        .AddCssStyle("width:25%"))

    .AddColumn(column => column
        .For(model => model.Director)
        .Sortable()
        .AddCssStyle("width:25%"))

    .AddColumn(column => column
        .Label("Genre")
        .DisplayAs(model => model.Genre.ToUpper())
        .LinkTo(model => "https://www.google.com")
        .SortableAs(model => model.Genre)
        .AddCssStyle("width:25%")
        .AddCssStyle("font-weight:bold"))

    .AddColumn(column => column
        .Label("Name not Encoded")
        .DisplayAs(model => model.Name)
        .Encoded(false)
        .AddCssStyle("width:25%"))

    .AddCssClass("table-striped")
    .AddCssClass("table-sm")
    .DefaultSortBy(model => model.Name, SortOrder.Ascending)
    .AddPager(options => options.RowsPerPage = 3)
    .Render()
)

<hr />

