@model SampleModel

<div class="row">
    <div class="col-md-4">
        @(await Html
            .SimpleForm(Model)
            .AppendHtml(
                @<div class="form-group">
                    <label style="background-color: orange">Orange Label</label>
                </div>
            )
            .AppendHtmlIf(new Random().NextDouble() > 0.5,
                @<div class="form-group">
                    <label>This will show up 50% of the time</label>
                </div>
            )
            .AppendHtml("<div style='background-color: green'>Encoded HTML</div>")
            .Append("<div>Un-encoded HTML</div>")
            .RenderAsync())
    </div>
    <div class="col-md-8">
        <pre><code>@@(await Html
    .SimpleForm(Model)
    .AppendHtml(
        &#64;&lt;div class="form-group">
            &lt;label style="background-color: orange">Orange Label&lt;/label>
        &lt;/div>
    )
    .AppendHtmlIf(new Random().NextDouble() > 0.5,
        &#64;&lt;div class="form-group">
            &lt;label>This will show up 50% of the time&lt;/label>
        &lt;/div>
    )
    .AppendHtml("&lt;div style='background-color: green'>Encoded HTML&lt;/div>")
    .Append("&lt;div>Un-encoded HTML&lt;/div>")
    .RenderAsync())
</code></pre>
        <p>
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}