@model SampleModel

@{
    List<SelectListItem> cityList = new () { new("New York", "NY"), new("London", "LDN") };
}

<div class="row">
    <div class="col-md-5">
        @(await Html
            .SimpleForm(Model)
            .AddCheckBoxRowFor(model => model.Flag)
            .AddRadioButtonRowFor(
                model => model.OtherCity, cityList, 
                opt => opt.Inline = false)
            .AddRadioButtonRowFor(
                model => model.OtherCity, 
                cityList, opt => opt.Inline = true)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@List&lt;SelectListItem&gt; cityList = new()
{ 
    new("New York", "NY"), 
    new("London", "LDN") 
};

@@(await Html
    .SimpleForm(Model)
    .AddCheckBoxRowFor(model => model.Flag)
    .AddRadioButtonRowFor(
        model => model.OtherCity, cityList, 
        opt => opt.Inline = false)
    .AddRadioButtonRowFor(
        model => model.OtherCity, 
        cityList, opt => opt.Inline = true)
    .RenderAsync())
</code></pre>
        <p>
            You can pass a list of values to the <code>RadioButtonEditorFor</code> method to render
            a list of radio buttons. You can also pass <code>inline: false</code> to render the radio buttons in a vertical list.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
