@using Sockethead.Razor.Forms
@model SampleModel

<div class="row">
    <div class="col-md-5">
        <h4>DateTime and Date</h4>
        @(await Html
            .SimpleForm(Model, opt => opt.ActionName = "Sample")
            .AddHiddenRowFor(model => model.View)
            .AddRowFor(model => model.RandomDate)
            .AddRowFor(model => model.RandomDateOnly)
            .SubmitButton("Save Changes")
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@(await Html
    .SimpleForm(Model, new FormOptions { ActionName = "Sample" })
    .EditorFor(model => model.RandomDate)
    .EditorFor(model => model.RandomDateOnly)
    .SubmitButton("Login")
    .RenderAsync())
</code></pre>
        <p>
            By default, a DateTime property will be rendered as a date and time picker. If you want to render it as a 
            date picker only, you can use the <code>[DataType(DataType.Date)]</code> attribute.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
