@model SampleModel
@{
    List<SelectListItem> cityList = new List<SelectListItem> { new("New York", "NY"), new("London", "LDN") };
}

<div class="row">
    <div class="col-md-5">
        @(await Html
            .SimpleForm(Model)
            .AddEnumRowFor(model => model.SampleEnum)
            .AddDropDownListRowFor(model => model.City, cityList)
            .AddListBoxRowFor(model => model.City, cityList)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@(await Html
    .SimpleForm(Model)
    .AddEnumRowFor(model => model.SampleEnum)
    .AddDropDownListRowFor(model => model.City, cityList)
    .AddListBoxRowFor(model => model.City, cityList)
    .RenderAsync())</code></pre>
        <p>
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}