@using Sockethead.Razor.Forms
@model SampleModel

<div class="row">
    <div class="col-md-5">
        
        @Html.EditorFor(m => m.Password)<br/>

        <br/>
        
        <h4>Email and Password</h4>
        @(await Html
            .SimpleForm(Model, opt => opt.ActionName = "Sample")
            .AddHiddenFor(model => model.View)
            .AddRowFor(model => model.Email)
            .AddRowFor(model => model.Password)
            .AddSubmitButton("Login")
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <h4>Model</h4>
        <pre><code>@@public class LoginModel
{
    [DataType(DataType.EmailAddress)] 
    public string Email { get; set; } = "myemail@sockethead.com";

    [DataType(DataType.Password)] 
    public string Password { get; set; } = "password";
}
        </code></pre>
        <h4>Form builder</h4>
        <pre><code>@@(await Html
    .SimpleForm(Model, opt => opt.ActionName = "Sample")
    .EditorFor(model => model.Email)
    .EditorFor(model => model.Password)
    .SubmitButton("Login")
    .RenderAsync())
        </code></pre>
        <p>

        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}