@model SampleModel

<div class="row">
    <div class="col-md-5">
        @(await Html
            .SimpleForm(Model)
            .AddRowFor(model => model.Email)
            .AddRowFor(model => model.Password)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <h4>Razor</h4>
        <pre><code>@@(await Html
    .SimpleForm(Model)
    .AddRowFor(model => model.Email)
    .AddRowFor(model => model.Password)
    .RenderAsync())
        </code></pre>
        <p>
            Use DataType.EmailAddress and DataType.Password to render the appropriate input types.
        </p>
        <br/>
        <h4>Model</h4>
        <pre><code>@@public class LoginModel
{
    [DataType(DataType.EmailAddress)] 
    public string Email { get; set; } = "myemail@sockethead.com";

    [DataType(DataType.Password)] 
    public string Password { get; set; } = "password";
}</code></pre>
        <p>

        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}