@using Sockethead.Razor.Forms
@model UserProfile

<div class="row">
    <div class="col-md-6">
        @(await Html
            .SimpleForm(Model, opt =>
            {
                opt.HorizontalForm = true;
            })
            .AddRowsForModel()
            .AddEnumRowFor(model => model.Gender)
            .AddRadioButtonRowFor(model => model.City, ViewBag.CityList as IEnumerable<SelectListItem>)
            .AddRadioButtonRowFor(model => model.State, ViewBag.StateList as IEnumerable<SelectListItem>, opt => opt.Inline = true)
            .AddDropDownListRowFor(model => model.Country, ViewBag.CountryList as IEnumerable<SelectListItem>)
            .AddListBoxFor(model => model.Hobbies, ViewBag.HobbyList as IEnumerable<SelectListItem>)
            .AddSubmitButtonRow("Save Changes")
            .RenderAsync())
    </div>
    <div class="col-md-6">
        <pre><code>@@(await Html
    .SimpleForm(Model, opt =>
    {
        opt.HorizontalForm = true;
    })
    .AddRowsForModel()
    .AddEnumRowFor(model => model.Gender)
    .AddRadioButtonRowFor(model => model.City, 
        ViewBag.CityList as IEnumerable&lt;SelectListItem>)
    .AddRadioButtonRowFor(model => model.State, 
        ViewBag.StateList as IEnumerable&lt;SelectListItem>, 
            opt => opt.Inline = true)
    .AddDropDownListRowFor(model => model.Country, 
        ViewBag.CountryList as IEnumerable&lt;SelectListItem>)
    .AddListBoxFor(model => model.Hobbies, 
        ViewBag.HobbyList as IEnumerable&lt;SelectListItem>)
    .AddSubmitButtonRow("Save Changes")
    .RenderAsync())</code></pre>
        <p>
        </p>
        
        <br>
    </div>
</div>

@if (ViewBag.Result != null)
{
    <br/>
    <h4>Serialized Submitted Form Data</h4>
    <pre>@ViewBag.Result</pre>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
