@model SampleModel

<div class="row">

    <div class="col-md-6">

        <h4>Install the latest Package</h4>
        <pre><code>PM> Install-Package Sockethead.Razor
</code></pre>

        <p>
            <br />
            Then bam, you're ready to start creating SimpleForms! A simple and flexible way to create forms that are consistent, reusable, and secure.
        </p>

    </div>

</div>
