@model ExtendedUserProfile

<div class="row">
    <div class="col-md-6">
        @(await Html
            .SimpleForm(Model)
            
            // start with a vertical form
            .Options(opt => opt.HorizontalForm = false)
            .AddRowsForModel()
            .AppendHtml("<hr/>")
            
            // switch to a horizontal form
            .Options(opt => opt.HorizontalForm = true)
            .AddEnumRowFor(model => model.Gender)
            .AddRadioButtonRowFor(model => model.City, ViewBag.CityList as IEnumerable<SelectListItem>)
            .AddRadioButtonRowFor(model => model.State, ViewBag.StateList as IEnumerable<SelectListItem>, opt => opt.Inline = true)
            .AddDropDownListRowFor(model => model.Country, ViewBag.CountryList as IEnumerable<SelectListItem>)
            .AddListBoxRowFor(model => model.Hobbies, ViewBag.HobbyList as IEnumerable<SelectListItem>)
            .RenderAsync())
    </div>
    <div class="col-md-6">
        <pre><code>@@(await Html
    .SimpleForm(Model)

    // start with a vertical form
    .Options(opt => opt.HorizontalForm = false)
    .AddRowsForModel()
    .AppendHtml("&lt;hr/>")
    
    // switch to a horizontal form
    .Options(opt => opt.HorizontalForm = true)
    .AddEnumRowFor(model => model.Gender)
    .AddRadioButtonRowFor(model => model.City, 
        ViewBag.CityList as IEnumerable&lt;SelectListItem>)
    .AddRadioButtonRowFor(model => model.State, 
        ViewBag.StateList as IEnumerable&lt;SelectListItem>, 
            opt => opt.Inline = true)
    .AddDropDownListRowFor(model => model.Country, 
        ViewBag.CountryList as IEnumerable&lt;SelectListItem>)
    .AddListBoxRowFor(model => model.Hobbies, 
        ViewBag.HobbyList as IEnumerable&lt;SelectListItem>)

    .RenderAsync())</code></pre>
        <p>
            This page demonstrates mixing layout in a single form.
        </p>
<partial name="_ResultJson"/>        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
