@model SampleModel

<div class="row">
    <div class="col-md-5">
        <h4>Number Inputs</h4>
        @(await Html
            .SimpleForm(Model, opt => opt.ActionName = "Sample")
            .AddRowFor(model => model.RandomDouble)
            .AddRowFor(model => model.RandomDecimal)
            .AddRowFor(model => model.Float)
            .AddRowFor(model => model.NullableDouble)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <h4>Razor</h4>
        <pre><code>@@(await Html
    .SimpleForm(Model, new FormOptions { ActionName = "Sample" })
    .AddRowFor(model => model.RandomDouble)
    .AddRowFor(model => model.RandomDecimal)
    .AddRowFor(model => model.Float)
    .AddRowFor(model => model.NullableDouble)
    .RenderAsync())
</code></pre>
        <p>
            As mentioned above, you can use the ASP.NET Core attributes to control the behavior of the property.
            For example, you can use <code>[DisplayFormat(DataFormatString = "{0:0.00}", ApplyFormatInEditMode = true)]</code> to control the number of decimal places.
            You can also apply the <code>RegularExpression</code> attribute to control the format of the input.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}