@model SampleModel

<div class="row">
    <div class="col-md-5">
        @(await Html
            .SimpleForm(Model)
            .AddRowFor(model => model.First, opt => opt.IsReadOnly = true)
            .AddRowFor(model => model.Last)
            .AddRowFor(model => model.Disabled, opt=> opt.IsDisabled = true)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@(await Html
    .SimpleForm(Model)
    .AddRowFor(model => model.First, opt => opt.IsReadOnly = true)
    .AddRowFor(model => model.Last)
    .AddRowFor(model => model.Disabled, opt=> opt.IsDisabled = true)
    .RenderAsync())</code></pre>
        <p>
            You can optionally pass <code>isReadOnly: true</code> or <code>isDisabled: true</code> to render a readonly or disabled field.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
