@using Sockethead.Razor.Forms
@model SampleModel

<div class="row">
    <div class="col-md-5">
        <h4>Submit Button</h4>
        @(await Html
            .SimpleForm(Model, opt => opt.ActionName = "Sample")
            .AddHiddenFor(model => model.View)
            .AddRowFor(model => model.First)
            .AddSubmitButton(label: "Update First Name", css: "btn btn-danger")
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@(await Html
    .SimpleForm(Model, opt => opt.ActionName = "Sample")
    .EditorFor(model => model.First)
    .SubmitButton(label: "Update First Name", css: "btn btn-danger")
    .RenderAsync())
        </code></pre>
        <p>
            Change the label and css of the submit button by passing the label and css parameters to the SubmitButton method.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
