@model SampleModel

<div class="row">
    <div class="col-md-5">
        <h4>Text Area</h4>
        @(await Html
            .SimpleForm(Model)
            .AddRowFor(model => model.MyMultilineText)
            .AddTextAreaRowFor(model => model.MyMultilineText, rows: 10, columns: 100)
            .RenderAsync())
    </div>
    <div class="col-md-7">
        <pre><code>@@(await Html
    .SimpleForm(Model)
    .AddRowFor(model => model.MyMultilineText)
    .AddTextAreaRowFor(model => model.MyMultilineText, 
        rows: 10, 
        columns: 100)
    .RenderAsync())
</code></pre>
        <p>
            You can use the <code>[DataType(DataType.MultilineText)]</code> attribute to render a text area.
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
