@using Sockethead.Razor.Forms;
@model SampleModel
@{
    ViewData["Title"] = "Form Builder";
    List<SelectListItem> cityList = new List<SelectListItem> 
        { new("New York", "NY"), new("London", "LDN") };
}

<div class="row">
    <div class="col-md-6">
        @(await Html.SimpleForm(Model, new FormOptions {ActionName = "FormBuilder"})
            .HiddenFor(model => model.Id)
            .EditorFor(model => model.First, isReadOnly: true)
            .EditorFor(model => model.Last)
            .EditorFor(model => model.JobTitle)
            .EditorFor(model => model.Email)
            .EditorFor(model => model.Password)
            .EditorFor(model => model.RandomDate)
            .EditorFor(model => model.RandomOtherDate)
            .CheckBoxEditorFor(model => model.Flag)
            .EditorFor(model => model.FooBarBazBBBlah)
            .EnumEditorFor(model => model.SampleEnum)
            .EditorFor(model => model.RandomDouble)
            .EditorFor(model => model.RandomDecimal)
            .EditorFor(model => model.Float)
            .EditorFor(model => model.NullableDouble)
            .EditorFor(model => model.Disabled, isDisabled: true)
            .AppendHtml(
                @<div class="form-group">
                    <label>Append Html - First Name: @Model.First</label>
                </div>
            )
            .AppendHtmlIf(true,
                @<div class="form-group">
                    <label>Append Html if condition is true.</label>
                </div>
            )
            .AppendHtml("<div>Encoded HTML</div>")
            .SelectListEditorFor(model => model.City, cityList)
            .RadioButtonEditorFor(model => model.OtherCity, cityList, inline: false)
            .SubmitButton("Save Changes")
            .RenderAsync())
    </div>
    <div class="col-md-6">
        <pre>
            <code>
                ToDo: Add code here to show how to use the form builder.
            </code>
        </pre>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
